@font-face {
  font-family: "TTNorms";
  src: url("/fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Medium";
  src: url("/fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Light";
  src: url("/fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("/fonts/Times-new-roman-italic.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80rem;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}
/*          header section in project           */
.header {
  font-family: "TTNorms Medium";
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.h1 {
  font-family: "TTNorms Medium";
  font-weight: 800;
  padding-right: 10px;
}
.divh1 {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.divh1 li {
  align-self: center;
  list-style: none;
}
.btnheader {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 205);
  color: #fafafa;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  transition: all 140ms ease-in 20ms;
}
header div li,
.btnheader {
  cursor: pointer;
}
.hamburger {
  display: none;
  flex-direction: column;
  align-self: center;
  gap: 5px;
  cursor: pointer;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
}
.menu__hamburger {
  display: flex;
  position: absolute;
  flex-direction: column;
  list-style: none;
  transform: translateX(-300px);
  gap: 25px;
  width: 180px;
  height: 300px;
  background-color: purple;
  padding: 15px;
  border-radius: 10px;
  transition: all 140ms ease-in 20ms;
}
.btnheader:hover {
  background-color: rgba(34, 34, 205, 0.784);
  transform: scale(1.05);
}
/*          main section in project        */
.main1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 50px;
}
.maindiv12 {
  display: flex;
  flex-direction: column;
  width: 32.5rem;
  font-family: "TTNorms Medium";
  margin-top: 2rem;
}
.maintext {
  color: #000000;
  font-size: 1.2rem;
}
.textunderh1 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: rgba(0, 0, 0, 0.49);
}
.maindivbtn {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.btnmain1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 0.8rem;
  cursor: pointer;
  color: #fafafa;
  background-color: rgb(88, 186, 88);
  border-radius: 5px;
  width: 8.5rem;
  height: 2.5rem;
  transition: all 140ms ease-in 20ms;
}
.btnmain2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 0.8rem;
  cursor: pointer;
  color: #fafafa;
  background-color: rgb(72, 94, 215);
  border-radius: 5px;
  width: 8.5rem;
  height: 2.5rem;
  transition: all 140ms ease-in 20ms;
}

.btnmain1:hover {
  background-color: rgba(88, 186, 88, 0.778);
}
.btnmain2:hover {
  background-color: rgba(72, 93, 215, 0.801);
}
.divtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.5rem;
  font-family: "TTNorms Medium";
}
.textmain {
  color: #0000006a;
}
.textmainh2 {
  font-size: 2rem;
  margin-top: -0.2rem;
}
.divtext2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 240px;
}
.textfirst {
  text-align: center;
}
.textfirst2 {
  color: #0000006d;
  line-height: 2rem;
}
.mainimage {
  display: flex;
  justify-content: center;
}
.middlemain {
  display: flex;
  justify-content: center;
  background-color: rgb(52, 52, 255);
  width: 100%;
  margin-top: 5rem;
}
.widthmain {
  width: 100%;
}
.middlemaintext {
  font-family: "TTNorms Medium";
  text-align: center;
  margin-top: 4rem;
}
.middletext {
  font-size: 2rem;
  color: #faf6f6;
}
.middletext2 {
  color: #ffffffc2;
  font-size: 1rem;
}
.divparentidea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 2rem;
}
.dividea {
  font-family: "Times Roman Italic";
  padding: 0rem 1rem;
  width: 19.2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.584);
  border-radius: 0.4rem;
}
.divimgidea {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  font-family: "TTNorms Medium";
  font-size: 0.8rem;
  font-weight: 900;
  border-width: 1px 0px 0px 0px;
  border-color: #00000034;
  border-style: solid;
}
.imgidea {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.mainlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.5rem;
  margin-top: 7rem;
  padding-bottom: 4rem;
}
.textporifqliq {
  margin-top: 5rem;
  text-align: center;
  line-height: 1rem;
}
.textporifqliq1 {
  font-family: "TTNorms Medium";
  font-size: 1rem;
  color: #0000006d;
}
.textporifqliq2 {
  font-family: "TTNorms Medium";
  font-size: 2rem;
}
.imgporifqliq {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}
/**************footer section in project****************/
.footer {
  background-color: rgb(52, 52, 255);
  width: inherit;
  margin-top: 5rem;
}
.containerfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.footertext {
  font-family: "TTNorms Medium";
  font-size: 1.6rem;
  color: #fafafa;
}
.divinput {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 24em;
  height: 3.5rem;
  background-color: #fafafa;
  border-radius: 0.2rem;
}
.email {
  font-family: "TTNorms Medium";
  font-size: 1rem;
  color: #000000;
  border-radius: 0.2rem;
  border-width: 0rem;
  padding-left: 1rem;
}
::placeholder {
  color: rgba(0, 0, 0, 0.338);
}
.imgfooter {
  cursor: pointer;
  border-radius: 0.2rem;
  width: 3.5rem;
  height: 3rem;
  background-color: rgb(52, 52, 255);
  padding: 0.8rem;
  margin: 1%;
}

/***************responsive*************/
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .containerfooter {
    justify-content: center;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .btnheader {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  /*****************header project*****************/
  .header{
    padding: 0rem 0.5rem;
  }
  li {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .hamburger:hover ~ .menu__hamburger {
    transform: translateX(-5px);
  }
  .hamburger:hover ~ .menu__hamburger li {
    display: inline;
  }
  /*************main project**************/

  .main1 img {
    display: none;
  }
  .maintext {
    font-size: 0.8rem;
    text-align: center;
  }
  .textunderh1 {
    font-size: 0.8rem;
    text-align: center;
  }
  .maindivbtn {
    justify-content: center;
    gap: 50px;
  }
  .divtext {
    margin-top: 2rem;
  }
  .textmainh2 {
    font-size: 0.8rem;
    text-align: center;
  }
  .divtext2 {
    margin-top: 1rem;
    gap: 10px;
  }
  .textfirst {
    font-size: 0.4rem;
  }
  .textfirst2 {
    line-height: 1rem;
  }
  .mainimage img {
    width: 250px;
    height: 250px;
  }
  .middlemain {
    margin-top: 2rem;
  }
  .middlemaintext {
    margin-top: 1rem;
  }
  .middletext {
    font-size: 1.5rem;
  }
  .middletext2 {
    font-size: 10px;
  }
  .divparentidea {
    margin-top: 2rem;
    gap: 10px;
  }
  .dividea {
    font-size: 0.8rem;
    line-height: 1rem;
    width: 70%;
    padding: 0rem 0.5rem;
  }
  .divimgidea {
    margin-top: 2rem;
    font-size: 0.5rem;
  }
  .imgidea {
    width: 1rem;
    height: 1rem;
  }
  .mainlogo {
    margin-top: 2rem;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .mainlogo img {
    width: 14%;
    height: 15%;
    margin-top: 1rem;
    gap: 10px;
  }
  .textporifqliq {
    margin-top: 2rem;
  }
  .textporifqliq2 {
    font-size: 0.8rem;
  }
  .imgporifqliq {
    margin-top: 2rem;
    gap: 10px;
  }
  .imgporifqliq img {
    width: 40%;
    height: 40%;
  }
  /***********footer***********/
  .footer {
    margin-top: 2rem;
  }
  .containerfooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footertext {
    font-size: 0.8rem;
    padding: 0px 10px;
  }

  .divinput {
    width: 14rem;
    height: 2rem;
  }
  .email {
    font-size: 0.5rem;
    padding-left: 0.5rem;
  }
  .imgfooter {
    width: 2rem;
    height: 1.8rem;
    padding: 0.5rem;
  }
}
